<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
		<dict>
			<key>Title</key>
			<string>開発者</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>ナノカ</string>
			<key>Title</key>
			<string>名前</string>
			<key>Key</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string>http://nanoka.wcloud.net</string>
			<key>Title</key>
			<string>サイト</string>
			<key>Key</key>
			<string>WebSite</string>
		</dict>
	</array>
    <key>StringsTable</key>
    <string>Developer</string>
</dict>
</plist>
